export(centerdata,covmat.hat,covmat.ts,meanmat.hat,meanmat.ts,transposedata,orderdata)

S3method(print,covmat.hat)
S3method(print,covmat.ts)
S3method(print,meanmat.hat)
S3method(print,meanmat.ts)

exportClasses(covman.hat,covmat.ts,meanmat.hat,meanmat.ts)

exportMethods(print.covmat.hat,print.covmat.ts,print.meanmat.hat,print.meanmat.ts)

importFrom("stats", "na.omit", "pnorm")